//
// Custom Variables
//
// Here you can add your own variables overrides
//
// The file is included before any other variable file,
// so you can override them because they all use !default
// --------------------------------------------------

// For example, changing the primary color
// $primary: #3b5998;

//Import MT Configs
@import '../mt/header';
@import '../mt/normalize';

$primary: #7896c1;
$default-mt: #ffc536;

$icon-success: rgb(111, 156, 64);
$icon-success-emphasis: rgb(25, 135, 84);
$icon-warning: rgb(255, 193, 7);
$icon-info: rgb(60, 144, 223);
$icon-doubt: rgb(13, 202, 240);
$icon-danger: rgb(224, 79, 26);
$icon-danger-emphasis: rgb(220, 53, 69);