.regular-text {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.375rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .regular-text {
    -webkit-transition: none;
    transition: none;
  }
}
.regular-text[type=file] {
  overflow: hidden;
}
.regular-text[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.regular-text:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.regular-text::-webkit-date-and-time-value {
  height: 1.5em;
}
.regular-text::-webkit-datetime-edit {
  display: block;
  padding: 0;
}
.regular-text::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.regular-text::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.regular-text:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.regular-text::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.regular-text::placeholder {
  color: #6c757d;
  opacity: 1;
}
.regular-text:disabled {
  background-color: #e9ecef;
  opacity: 1;
}
.regular-text::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.regular-text::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .regular-text::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
  .regular-text::file-selector-button {
    -webkit-transition: none;
    transition: none;
  }
}
.regular-text:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}
.regular-text:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}

.regular-text-plaintext {
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  margin-bottom: 0;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}
.regular-text-plaintext:focus {
  outline: 0;
}
.regular-text-plaintext.regular-text-sm, .regular-text-plaintext.regular-text-lg {
  padding-right: 0;
  padding-left: 0;
}

.regular-text-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}
.regular-text-sm::-webkit-file-upload-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}
.regular-text-sm::file-selector-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}

.regular-text-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}
.regular-text-lg::-webkit-file-upload-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}
.regular-text-lg::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}

textarea.regular-text {
  min-height: calc(1.5em + 0.75rem + 2px);
}
textarea.regular-text-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
}
textarea.regular-text-lg {
  min-height: calc(1.5em + 1rem + 2px);
}

.regular-text-color {
  width: 3rem;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem;
}
.regular-text-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.regular-text-color::-moz-color-swatch {
  border: 0 !important;
  border-radius: 0.375rem;
}
.regular-text-color::-webkit-color-swatch {
  border-radius: 0.375rem;
}
.regular-text-color.regular-text-sm {
  height: calc(1.5em + 0.5rem + 2px);
}
.regular-text-color.regular-text-lg {
  height: calc(1.5em + 1rem + 2px);
}

.regular-text {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.375rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .regular-text {
    -webkit-transition: none;
    transition: none;
  }
}
.regular-text[type=file] {
  overflow: hidden;
}
.regular-text[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.regular-text:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.regular-text::-webkit-date-and-time-value {
  height: 1.5em;
}
.regular-text::-webkit-datetime-edit {
  display: block;
  padding: 0;
}
.regular-text::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.regular-text::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.regular-text:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.regular-text::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.regular-text::placeholder {
  color: #6c757d;
  opacity: 1;
}
.regular-text:disabled {
  background-color: #e9ecef;
  opacity: 1;
}
.regular-text::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.regular-text::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .regular-text::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
  .regular-text::file-selector-button {
    -webkit-transition: none;
    transition: none;
  }
}
.regular-text:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}
.regular-text:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}

textarea.regular-text {
  min-height: calc(1.5em + 0.75rem + 2px);
}

html {
  --wp-admin--admin-bar--height: 68px !important;
}

#dashboard-widgets-wrap,
#menu-dashboard,
#wp-admin-bar-wp-logo,
.user-admin-color-wrap,
.user-admin-bar-front-wrap,
.user-url-wrap,
#application-passwords-section,
#wpfooter,
#wp-admin-bar-site-name-default,
#wp-admin-bar-edit-profile,
.user-language-wrap,
#your-profile h2:nth-child(4),
#wp-admin-bar-menu-toggle,
#wp-admin-bar-comments,
#menu-tools,
#menu-comments {
  display: none !important;
}

#wpadminbar #wp-admin-bar-my-sites a.ab-item,
#wpadminbar #wp-admin-bar-site-name a.ab-item {
  color: transparent !important;
}

@media screen and (max-width: 782px) {
  #wpadminbar li#wp-admin-bar-wp-logo {
    display: none !important;
  }
}
#wpadminbar {
  background: #6c87ae;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);
  height: var(--wp-admin--admin-bar--height);
}

#adminmenu,
#adminmenuback,
#adminmenuwrap {
  background-color: #2c323f;
  width: 250px;
}
@media screen and (max-width: 968px) {
  #adminmenu,
  #adminmenuback,
  #adminmenuwrap {
    width: 160px;
  }
}

#wpcontent,
#wpfooter {
  margin-left: 250px;
}
@media screen and (max-width: 968px) {
  #wpcontent,
  #wpfooter {
    margin-left: 160px;
  }
}
@media screen and (max-width: 782px) {
  #wpcontent,
  #wpfooter {
    margin-left: 140px;
  }
}

@media screen and (max-width: 782px) {
  #wpadminbar ul#wp-admin-bar-root-default > li {
    margin-left: 10px;
  }
}
#wpadminbar ul {
  padding: 0 20px 0 0;
}
@media screen and (max-width: 782px) {
  #wpadminbar ul {
    padding: 0;
  }
}

#wpcontent {
  margin-top: var(--wp-admin--admin-bar--height);
}
@media screen and (max-width: 782px) {
  #wpcontent {
    margin-top: 0;
  }
}

#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
  -webkit-box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.08);
          box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.08);
  background: #546987;
  border-radius: 0.375rem;
}
@media screen and (max-width: 782px) {
  #wpadminbar .menupop .ab-sub-wrapper,
  #wpadminbar .shortlink-input {
    border-radius: 0;
  }
}

#wpadminbar a,
#wpadminbar #adminbarsearch::before,
#wpadminbar .ab-icon::before,
#wpadminbar .ab-item::before {
  color: rgb(255, 255, 255) !important;
}

#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  background-color: #2c323f;
  color: #dfe4f1;
}

#adminmenu .wp-submenu {
  background-color: #2c323f;
}

#wpadminbar .ab-top-menu > li.hover > .ab-item {
  content: none;
}

#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#collapse-button:hover,
#wpadminbar a:hover {
  background: transparent;
  color: #dfe4f1 !important;
}

.wp-admin #wpadminbar #wp-admin-bar-site-name > .ab-item::before {
  background-image: url("./assets/media/mt/logo-topo.png") !important;
  background-repeat: no-repeat;
  background-size: 145px 100%;
  opacity: 0.75;
  display: inline-block;
  width: 145px;
  height: 100%;
  max-width: 145px;
  content: "";
  margin-top: 12px;
}
@media screen and (max-width: 782px) {
  .wp-admin #wpadminbar #wp-admin-bar-site-name > .ab-item::before {
    background-image: url("./assets/media/mt/logo-footer.png") !important;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    opacity: 0.75;
    display: inline-block;
    width: 35px;
    height: 35px;
    content: "";
    margin-top: auto;
  }
}

#wp-admin-bar-my-account,
#wp-admin-bar-new-content,
#wp-admin-bar-archive {
  margin-top: 16px !important;
}
@media screen and (max-width: 782px) {
  #wp-admin-bar-my-account,
  #wp-admin-bar-new-content,
  #wp-admin-bar-archive {
    margin-top: auto !important;
  }
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
  background: #6c87ae;
}

.wp-core-ui .button-primary {
  background: #6c87ae;
  border-color: #6c87ae;
}

.wp-core-ui .button-primary:hover {
  background: #426391;
  border-color: #426391;
}

a.components-button:nth-child(1) > svg {
  display: none;
}

@media (min-width: 782px) {
  .edit-post-fullscreen-mode-close.components-button::before {
    background-image: url("./assets/media/mt/logo-editor.png") !important;
    width: 37px;
    height: 37px;
    background-repeat: no-repeat;
    background-size: 37px 37px;
    margin: 1px 0 0 1px;
    opacity: 0.75;
    display: inline-block;
  }
}/*# sourceMappingURL=style-admin-author.css.map */